.top-images {
    width: 250px;
}

h1 {
    padding-top: 40px;
    font-family: monospace;
    font-weight: bold;
}

.custInfoLabel {
    padding-left: 10px;
}


fieldset {
 width: 100%;
  border: 1px solid #333333;
  box-sizing: border-box;
}

.pizza1 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;

}



.pizza2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;

}



.pizza3 {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: inline-block;

}

.legend-text {
    font-size: medium;
    /* top: -12px; */
}

legend {
    
    background-color: white;
}